@import '../scss/vars.scss';

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;   
    overflow: hidden;
    &__thanks {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;   
        overflow: hidden;
        background-color: rgba(28, 24, 25, 0.6);
        transition: all 0.8s ease;
    }
}

.thanks {
    position: absolute;
    padding: 52px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 702px;
    min-height: 296px;
    width: 100%;
    border-radius: 16px;
    background-color: $white;

    &__img {
        width: 48px;
        height: 48px;
    }

    &__title {
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $black;
    }

    &__descr {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 28px;
        color: $black;
    }
}

.button {
    &__thanks {
        min-width: 287px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        border: 0;
        border-radius: 8px;
        background-color: $light-blue;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}
