// Colors
$main: #2c3e50;
$bgcolor: #fefefe;
$white: #fff;
$black: #1c1819;
$blue: #00458a;
$red: #f33;
$green: #64bd38;
$gray: #888b94;
$yellow: #ffdd61;
$beige: #efe8d8;
$semigray: #d4d4da;
$light-blue: #2a81dd;
$light-green: #eff8eb;
$light-yellow: #fffae7;
$light-gray: #e9f2fb;
